# Grabbing Most Shared Articles For Day Of

In [123]:
 # import needed libraries   
import requests 
import json
import pandas as pd

In [124]:
#function to access private API key
def get_api_key(path):
    with open(path) as f:
        return json.load(f)

In [125]:
# function to get a list of most shared articles for provided time period (in days)
def get_most_shared_articles(search_period):
    most_shared_articles = []
    period = str(search_period)
    
    # get API key from private folder in director out of repo
    api_key = get_api_key("../.nyt_api.json")['api_key']
    url = f'https://api.nytimes.com/svc/mostpopular/v2/shared/{period}/facebook.json?api-key={api_key}'
    response = requests.get(url)
    response_json = response.json()
    most_shared_articles = response_json['results']
    
    return most_shared_articles

In [126]:
# function to extract only needed information and make strings lowercase 
def cleaned_shared_articles(most_shared_articles):
    cleaned_articles = []
    
    # loop through every article and append to empty list 
    for article in most_shared_articles:
        date = pd.Timestamp("today").strftime("%m/%d/%Y")
        idx = pd.to_datetime(date)
        uri = article['uri']
        date_published = pd.to_datetime(article['published_date'])
        cleaned_articles.append([idx, uri, date_published])
        
    return cleaned_articles

In [133]:
# access current day to label data with the day it was accessed 
date_sourced = pd.Timestamp("today").strftime("%m/%d/%Y")
date_sourced = date_sourced.replace('/','_')

In [127]:
# uncomment to initalize some data from the past 30 days
# most_shared_before = get_most_shared_articles(30)

In [128]:
# cleaned_most_shared_before = cleaned_shared_articles(most_shared_before)

In [129]:
# df_shared_before = pd.DataFrame(cleaned_most_shared_before)

In [130]:
# df_shared_before.columns = ['date_sourced', 'uri', 'date_published']

In [131]:
# df_shared_before.head()

,date_sourced,uri,date_published
0,2022-01-10,nyt://article/6f45b821-a697-523e-829e-66556e55...,2021-12-21
1,2022-01-10,nyt://article/b7811354-a328-59f5-86db-8f5f7005...,2021-12-16
2,2022-01-10,nyt://article/3f80bf2b-9d3d-56f7-be54-cdb8ccfc...,2021-12-10
3,2022-01-10,nyt://article/4ce8e0c2-bdc1-5814-bcc6-35466240...,2021-11-30
4,2022-01-10,nyt://article/a978d157-36fa-51be-be2e-377b2091...,2021-12-22

In [132]:
# df_shared_before.shape

(20, 3)

In [134]:
# df_shared_before.to_csv(f'data/most_popular/most_shared_before{date_sourced}.csv', index=False)

In [135]:
# make API call with function to get most shared articles from previous day 
most_shared_articles = get_most_shared_articles(1)

In [136]:
# pass list of articles through cleaning function 
cleaned_most_shared = cleaned_shared_articles(most_shared_articles)

In [137]:
# put articles in dataframe
df_shared = pd.DataFrame(cleaned_most_shared)

In [138]:
# rename columns to strings 
df_shared.columns = ['date_sourced', 'uri', 'date_published']

In [139]:
df_shared.head()

,date_sourced,uri,date_published
0,2022-01-10,nyt://article/642b4860-875d-51c6-be7b-1a2d253b...,2022-01-09
1,2022-01-10,nyt://article/ba267421-f4dd-5ae6-84fc-304bbf52...,2022-01-09
2,2022-01-10,nyt://article/01fc5474-6904-5aca-8e4f-d1c5b57b...,2022-01-09
3,2022-01-10,nyt://article/c8a2d343-a7a4-55ba-ad65-e5dd5310...,2022-01-09
4,2022-01-10,nyt://article/960bacd2-8e63-5abc-9fbc-d124e34b...,2022-01-09

In [140]:
df_shared.shape

(20, 3)

In [141]:
# df_shared.to_csv(f'data/most_popular/most_shared_{date_sourced}.csv', index=False)

In [ ]:
""" uncoment and unindent next line to divert top 20 lists for deployment into a different folder.
    comment line above to prevent delpoyment data from leaking into training folder.
"""
    # df_shared.to_csv(f'data/most_popular_deploy/most_shared_{date_sourced}.csv', index=False)