In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/archive_train.csv')

In [3]:
df.head()

,uri,date_published,headline,keywords,snippet,word_count
0,nyt://article/4e2abcbc-9563-56c0-bf18-c93ce4e7...,2021-12-01,let’s end the covid blame games,coronavirus omicron variantcoronavirus (2019-n...,"Finger pointing is pointless, divisive and dumb.",918
1,nyt://article/f7a5e7ef-e4cd-575c-a0e1-ff4d18d5...,2021-12-01,trump’s iran policy has become a disaster for ...,irannuclear weaponsembargoes and sanctionsunit...,Withdrawing from the Iran nuclear deal was a m...,1560
2,nyt://article/778af86c-b600-5aeb-be98-0a9a1aa1...,2021-12-01,this extinct eagle may have gulped guts like a...,eagles (birds)vultures (birds)condorsendangere...,Scientists suggest the largest eagle that ever...,913
3,nyt://article/fb7763c2-0f41-5c81-9ecf-17607ba5...,2021-12-01,republican recriminations point to a rocky pat...,republican partyhouse of representativesboeber...,Simmering tensions between the far-right flank...,1172
4,nyt://article/ba0afd37-0c00-5535-8868-21130e28...,2021-12-01,a times editor who attended oxford recalls a d...,school shootings and armed attacks,Three teenage students were killed on Tuesday ...,309

In [4]:
# df.date_published = df.date_published.apply(lambda x: x[:11])
# df.date_published = pd.to_datetime(df.date_published)

In [5]:
df.head()

,uri,date_published,headline,keywords,snippet,word_count
0,nyt://article/4e2abcbc-9563-56c0-bf18-c93ce4e7...,2021-12-01,let’s end the covid blame games,coronavirus omicron variantcoronavirus (2019-n...,"Finger pointing is pointless, divisive and dumb.",918
1,nyt://article/f7a5e7ef-e4cd-575c-a0e1-ff4d18d5...,2021-12-01,trump’s iran policy has become a disaster for ...,irannuclear weaponsembargoes and sanctionsunit...,Withdrawing from the Iran nuclear deal was a m...,1560
2,nyt://article/778af86c-b600-5aeb-be98-0a9a1aa1...,2021-12-01,this extinct eagle may have gulped guts like a...,eagles (birds)vultures (birds)condorsendangere...,Scientists suggest the largest eagle that ever...,913
3,nyt://article/fb7763c2-0f41-5c81-9ecf-17607ba5...,2021-12-01,republican recriminations point to a rocky pat...,republican partyhouse of representativesboeber...,Simmering tensions between the far-right flank...,1172
4,nyt://article/ba0afd37-0c00-5535-8868-21130e28...,2021-12-01,a times editor who attended oxford recalls a d...,school shootings and armed attacks,Three teenage students were killed on Tuesday ...,309

In [6]:
# pd.to_datetime(df.date_published[0])

In [7]:
# df.date_published = df.date_published.apply(lambda x: x.replace('-', '/'))
# df.date_published = pd.to_datetime(df.date_published, format='%Y/%m/%d')

In [8]:
df.date_published[0]

'2021-12-01'

In [8]:
df.date_published[0]

AttributeError: 'str' object has no attribute 'dt'

In [14]:
df['date_published'] = pd.to_datetime(df['date_published'][:11], format='%y/%m/%d')

ValueError: time data '2021-12-01 00:00:07+00:00' does not match format '%y/%m/%d' (match)

In [8]:
type(df.date_published[0])

pandas._libs.tslibs.timestamps.Timestamp

In [12]:
df.date_published[0]

'2021-12-01T00:00:07+0000'

In [ ]:
# df[(df['date'] > '2013-01-01') & (df['date'] < '2013-02-01')]

In [7]:
df = df[df.date_published > pd.to_datetime('2021-01-05')]

TypeError: '>' not supported between instances of 'str' and 'Timestamp'

In [8]:
df.head()

,uri,date_published,headline,keywords,snippet,word_count
0,nyt://article/4e2abcbc-9563-56c0-bf18-c93ce4e7...,2021-12-01T00:00:07+0000,let’s end the covid blame games,coronavirus omicron variantcoronavirus (2019-n...,"Finger pointing is pointless, divisive and dumb.",918
1,nyt://article/f7a5e7ef-e4cd-575c-a0e1-ff4d18d5...,2021-12-01T00:00:07+0000,trump’s iran policy has become a disaster for ...,irannuclear weaponsembargoes and sanctionsunit...,Withdrawing from the Iran nuclear deal was a m...,1560
2,nyt://article/778af86c-b600-5aeb-be98-0a9a1aa1...,2021-12-01T00:00:10+0000,this extinct eagle may have gulped guts like a...,eagles (birds)vultures (birds)condorsendangere...,Scientists suggest the largest eagle that ever...,913
3,nyt://article/fb7763c2-0f41-5c81-9ecf-17607ba5...,2021-12-01T00:14:33+0000,republican recriminations point to a rocky pat...,republican partyhouse of representativesboeber...,Simmering tensions between the far-right flank...,1172
4,nyt://article/ba0afd37-0c00-5535-8868-21130e28...,2021-12-01T00:17:02+0000,a times editor who attended oxford recalls a d...,school shootings and armed attacks,Three teenage students were killed on Tuesday ...,309